{% set rel = (rel is defined) ? rel : 'blocks' %}
{% block section %}
<section class='block {{ block.type }}{% block additional_properties %}{% endblock %}' rel='{{ rel }}' typeof='block'>
    {% block section_content %}{% endblock %}
</section>
{% endblock %}
