{% set title = (block.title is defined) ? block.title : block.url %}
{% if block.url is defined and block.url is not empty %}
    <a href='{{ block.url }}' class='{% block link_class %}{% endblock %}' property='url'>{{ title }}</a>
{% endif %}